*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.bed
*.bim
*.fam
*.bam
*.bam.bai
*.bai
*.log
*.nosex
*.tab
*.out
*.Rout
*.fastq
*.fastq.gz
*.g.vcf*
*.vcf.gz
*.vcf
*.g.vcf.gz
*.tbi
*.table
*.idx
*.sorted.dedup.metrics.txt
*.pid
*.intervals
*.frq
*.dcf
*.txt
ref_ensemble95/
TMP/
dump/
rsconnect/
04_selection_analysis/shiny_apps/explore_genes_fst_win_top1pct/snp_in_gene_vep_annot.csv
*.csv
*.recal*
*.tranches
*.pdf
*.png
tmp*
*.imiss
*.lmiss
*.rds
*.gds
*.P
*.Q
*.fst
*.html
*fastqc.zip
*fastqc.html
*.json
*.NR
*.NBP
tst.sh
test.sh
*.swp
*.nfs*

